@import 'layout';

body {
  font-family: $title-font;
  color: $text-color;
  font-size: $body-size;
  background-size: 6%;

  &::before {
    //content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 6%;
    filter: brightness(0.6);
  }
}

nav {
  .nav-items {
    font-size: 1.2em;
    color: $accent-color;

    &.text-light {
      color: $light-color;
    }
  }
}

i.material-icons {
  font-size: 1rem;
}

.logo {
  font-size: 1.8rem;
  font-weight: bolder;

  img {
    height: 50px;
    width: auto;
  }
}

.logo-mini {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1.6rem;
}

.btn {
  padding: $sm $md;
  border-radius: $sm;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  box-sizing: border-box;
  color: $text-color;
  font-family: $title-font;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

  &:active {
    transform: translateY(1px);
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &.dark {
    background: $text-color;
    color: $light-color;
  }

  &.primary {
    background: $primary-color;
    color: $light-color;

    &:disabled {
      background: rgb(40, 40, 40);
      border: 1px solid $primary-color;
    }
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;
  }

  &.light {
    background: $light-color;
    color: $primary-color;
  }

  &.success {
    background: $success-color;
    color: $light-color;
  }

  &.danger {
    background: $danger-color;
    color: $light-color;
  }

  &.info {
    background: $info-color;
    color: $light-color;
  }

  &.warning {
    background: $warning-color;
    color: $light-color;
  }

  &.outlined.primary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;

    &:hover {
      background: $dark-primary;
      color: $light-color;
    }
  }

  &.outlined.secondary {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  &.outlined.light {
    border: 1px solid $light-color;
    background: transparent;
    color: $light-color;

    &:hover {
      background: $light-color;
      color: $light-color;
    }
  }

  &.outlined.success {
    border: 1px solid $success-color;
    background: transparent;
    color: $success-color;

    &:hover {
      background: $success-color;
      color: $light-color;
    }
  }

  &.outlined.danger {
    border: 1px solid $danger-color;
    background: transparent;
    color: $danger-color;

    &:hover {
      background: $danger-color;
      color: $light-color;
    }
  }

  &.outlined.info {
    border: 1px solid $info-color;
    background: transparent;
    color: $info-color;

    &:hover {
      background: $info-color;
      color: $light-color;
    }
  }

  &.outlined.warning {
    border: 1px solid $warning-color;
    background: transparent;
    color: $warning-color;

    &:hover {
      background: $warning-color;
      color: $light-color;
    }
  }
}

.chip {
  padding: 2px $sm;
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  color: $text-color;
  font-family: $title-font;
  font-size: 0.9rem;
  text-align: center;

  &:active {
    transform: translateY(1px);
  }

  &.dark {
    background: $text-color;
    color: $light-color;
  }

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &.primary {
    background: $primary-color;
    color: $light-color;
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;
  }

  &.light {
    background: $light-color;
    color: $primary-color;
  }

  &.success {
    background: $success-color;
    color: $light-color;
  }

  &.danger {
    background: $danger-color;
    color: $light-color;
  }

  &.info {
    background: $info-color;
    color: $light-color;
  }

  &.warning {
    background: $warning-color;
    color: $light-color;
  }

  &.outlined.primary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;

    &:hover {
      background: $dark-primary;
      color: $light-color;
    }
  }

  &.outlined.secondary {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  &.outlined.light {
    border: 1px solid $light-color;
    background: transparent;
    color: $light-color;

    &:hover {
      background: $light-color;
      color: $light-color;
    }
  }

  &.outlined.success {
    border: 1px solid $success-color;
    background: transparent;
    color: $success-color;

    &:hover {
      background: $success-color;
      color: $light-color;
    }
  }

  &.outlined.danger {
    border: 1px solid $danger-color;
    background: transparent;
    color: $danger-color;

    &:hover {
      background: $danger-color;
      color: $light-color;
    }
  }

  &.outlined.info {
    border: 1px solid $info-color;
    background: transparent;
    color: $info-color;

    &:hover {
      background: $info-color;
      color: $light-color;
    }
  }

  &.outlined.warning {
    border: 1px solid $warning-color;
    background: transparent;
    color: $warning-color;

    &:hover {
      background: $warning-color;
      color: $light-color;
    }
  }
}

//input styling
.form-group {
  margin-bottom: $md;
  display: flex;
  flex-direction: column;
  border: 1px solid $light-color;
  padding: $sm;
  border-radius: $xs;
  background: rgb(229, 229, 229);

  label {
    font-size: 0.9rem;
  }

  input[type='text'],
  input[type='number'],
  input[type='password'],
  select,
  textarea {
    color: $text-color;
    border: none;
    background: transparent;
    flex: 1;
    font-size: 16px;

    &:focus {
      outline: none;
    }

    &.rounded {
      border-radius: 30px;
      padding: 0 $xs;
    }

    &::placeholder {
      font-family: $title-font;
    }
  }

  .input-area {
    display: flex;
    align-items: center;

    input {
      flex: 1;
    }
  }

  .error-text {
    text-align: right;
    color: $danger-color;
  }
}

//backgrounds
.bg-primary {
  background-color: $primary-color;
}

.bg-accent {
  background-color: $accent-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-gradient {
  background: $bg-gradient;
}

.bg-light {
  background-color: $light-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-danger {
  background-color: $danger-color;
}

.bg-info {
  background-color: $info-color;
}

.bg-warning {
  background-color: $warning-color;
}

.bg-error {
  background-color: $danger-color;
}

//texts
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-light {
  color: $light-color;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.text-info {
  color: $info-color;
}

.text-warning {
  color: $warning-color;
}

.title {
  &,
  i.material-icons {
    font-size: $title-size;
    font-weight: bold;
  }
}

.title-xs {
  font-size: 1.2rem;
}

.title-sm {
  font-size: 1.6rem;
}

.title-md {
  font-weight: bold;
  font-size: 2.4rem;
}

.title-lg {
  font-weight: bold;
  font-size: 3.6rem;
}

.title-xl {
  font-weight: bold;
  font-size: 4.8rem;
}

.title-xxl {
  font-weight: bold;
  font-size: 5.4rem;
}

@media (max-width: 768px) {
  .title-sm {
    font-size: 1rem;
  }
  .title-md {
    font-size: 1.8rem;
  }
  .title-xxl {
    font-size: 3.2rem;
  }
}

.sub-title {
  font-size: $accent-size;
  @media (max-width: 768px) {
    font-size: 1.3rem;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.bolder {
  font-weight: bolder;
}

.normal {
  font-weight: unset;
}

.uppercase {
  text-transform: uppercase;
}

.titlecase {
  text-transform: capitalize;
}

//cards

.card,
%card {
  border-radius: $sm;
  padding: $md;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
}

//
.elevated {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
}

//cursor

.pointer {
  cursor: pointer;
}

//scrollbar

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

//chips
.chips-list {
  .chip {
    padding: $sm $lg;

    &:nth-child(2n) {
      background: #1f9cc6;
      color: $light-color;
    }

    &:nth-child(3n) {
      background: #999;
      color: $light-color;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    .chip {
      font-size: 0.8rem;
      padding: $sm;
      margin-bottom: 2px;
    }
  }
}

pre {
  background: #242424;
  color: white;
  padding: $md;
  border-radius: $sm;
}

// animation classes
.fadeIn {
  animation: 0.3s fadeIn ease-in;
}

//animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

.detail-info-box {
  width: 48%;
  height: 150px;
  border: 1px solid $accent-color;
  margin-right: 4%;
  border-radius: $sm;
  text-transform: capitalize;

  i.material-icons {
    color: $accent-color;
    font-size: 1.2rem;
  }

  &:nth-child(even) {
    margin-right: 0;
  }
}

//slick slider
@media (max-width: 768px) {
  .xs-hide {
    display: none;
  }
  .xs-column {
    flex-direction: column;
  }
  .text-center {
    text-align: center;
  }

  .xs-half-width {
    width: 50%;
  }

  .xs-half-width-vw {
    width: 50vw;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


//map settings


@keyframes beep {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: .4;
    transform: scale(2);
  }
}
