@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
//colors
$primary-color: #fa6f2b;
$secondary-color: #c24a4a;
$accent-color: #1F9CC6;
$dark-primary: #a74c1f;
$light-color: #ffffff;
// $bg-gradient: linear-gradient(105.48deg, #4caf50 0%, #8bc34a 51.72%, #3949ab 101.33%);
$bg-gradient: #f6841f;
$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;

$text-color: #2e2e2e;
//font-sizes
$title-size: 8rem;
$accent-size: 1.6rem;
$body-size: .9rem;


//font-family
$title-font: 'Poppins','sans-serif';
$accent-font: 'Poppins','sans-serif';

//sizes
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;

//layouting
$wrapper-val:7.5vw;
