@import "./assets/scss/style";

.movie-card{
  min-width: 225px;
  width:19%;
  margin-right:1.25%;
  &:nth-child(5n){
    margin-right:0;
  }
  .movie-img{
    height:350px;
    width:100%;
    background:$accent-color;
    img{
      height:100%;
      width:100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.cover-section{
  background:$primary-color;
  position: relative;
  &:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background: url("https://cdn.pixabay.com/photo/2015/09/02/12/45/movie-918655_960_720.jpg");
    mix-blend-mode: lighten;
  }


}
